@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  margin: 0;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  width: 100%;
}
/* text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(255,255,255,0.8); */
/* Estructura clases genéricas CSS */
main {
  position: relative;
  background: url("../../img/fondo-1.jpg");
  background-attachment: fixed;
  background-color: rgba(218, 112, 214, 0.658);

  width: 100%;

  header {
    position: fixed;
    height: 3.1em;
    width: 100%;
    background: rgba(197, 129, 28, 0.808);
    top: 0;
    z-index: 10;
    h1 {
      font-weight: 500;
      text-align: center;
      padding: 0.7rem;
      font-size: 1.25rem;
      color: white;
    }
  }
  #content-form {
    position: relative;
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 3.1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background: rgba(11, 52, 129, 0.781);
    p {
      position: relative;
      margin: 0 auto;
      width: 80%;
      color: white;
      text-align: center;
      font-family: Roboto "Century Gothic", sans-serif;
      font-weight: 100;
      font-weight: lighter;
      line-height: 1.5em;
    }
    #title {
      text-align: center;
      font-weight: 100;
      font-family: Poppins, "Century Gothic", sans-serif;
      color: white;
    }
    #survey-form {
      position: relative;
      margin: 0 auto;
      width: 90%;
      padding: 0.5em;
      background: rgba(126, 124, 124, 0.76);
      border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -ms-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      .label {
        position: relative;
        margin: 0.125em auto;
        width: 90%;
        display: block;
        padding: 0.5em;
        padding-bottom: 0.2em;
        color: white;
        font-family: Roboto, "Century Gothic", sans-serif;
      }
      .input,
      select,
      textarea {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 90%;
        border: 0;
        padding: 0.5em;
        border-radius: 0.4em;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        -ms-border-radius: 0.4em;
        -o-border-radius: 0.4em;
      }
      #title-radio {
        position: relative;
        margin: 0.125em auto;
        width: 90%;
        display: block;
        padding: 0.5em;
        padding-bottom: 0.2em;
        color: white;
        font-family: Roboto, "Century Gothic", sans-serif;
        text-align: left;
      }
    }
    #submit {
      position: relative;
      margin: 1em auto;
      display: block;
      width: 90%;
      border: 0;
      padding: 0.5em;
      background: rgba(197, 129, 28, 0.808);
      color: white;
      border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -ms-border-radius: 0.4em;
      -o-border-radius: 0.4em;
    }
    #box {
      position: relative;
      margin: 0 auto;
      display: block;
      width: 90%;
      border: 0;
      padding: 0.5em;
      border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -ms-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      label {
        display: block;
        margin: 15px;
        color: white;
      }
    }
  }
  #footer {
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 0.2em;
    background: rgba(54, 50, 32, 0.849);
    display: flex;
    flex-direction: column;

    .footer-left {
      position: relative;
      margin: 0.5em;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-bottom: 0.5em;

      p {
        color: white;
        font-family: "Century Gothic", sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 0.5em;
        border-right: 1px solid silver;
      }
    }
    .footer-right {
      position: relative;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background: linear-gradient(
        180deg,
        rgba(54, 50, 32, 0.849),
        rgba(54, 50, 32, 0.493)
      );

      p {
        color: white;
        font-family: "Century Gothic", sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 0.5em;
        #ch-heart {
          font-size: 5vmin;
          color: rgb(0, 204, 255);
        }
        #icon-git {
          width: 20px;
          height: auto;
        }
      }
    }
    a:link {
      color: rgb(243, 246, 247);
    }
    a:visited {
      color: rgb(241, 244, 245);
    }
    a:hover {
      background: steelblue;
    }
  }
}
@media (min-width: 600px) {
  main #content-form {
    width: 70%;
    #footer {
      display: flex;
      flex-direction: row;
      padding: 0;
      .footer-left {
        border-bottom: 1px solid rgb(95, 74, 16);
        margin: 0;
        margin-bottom: 1.5em;
        p {
          border-right: 0px;
        }
      }
      .footer-right {
        margin: 0;
      }
    }
  }
}
@media (min-width: 800px) {
  main #content-form {
    width: 55%;
    #footer {
      display: flex;
      flex-direction: row;
      padding: 0;
      .footer-left {
        border-bottom: 1px solid rgb(95, 74, 16);
        margin: 0;
        margin-bottom: 1.5em;
        p {
          border-right: 0px;
        }
      }
      .footer-right {
        margin: 0;
      }
    }
  }
}
