@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  margin: 0;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  width: 100%;
}

/* text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(255,255,255,0.8); */
/* Estructura clases genéricas CSS */
main {
  position: relative;
  background: url("../../img/fondo-1.jpg");
  background-attachment: fixed;
  background-color: rgba(218, 112, 214, 0.658);
  width: 100%;
}

main header {
  position: fixed;
  height: 3.1em;
  width: 100%;
  background: rgba(197, 129, 28, 0.808);
  top: 0;
  z-index: 10;
}

main header h1 {
  font-weight: 500;
  text-align: center;
  padding: 0.7rem;
  font-size: 1.25rem;
  color: white;
}

main #content-form {
  position: relative;
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 3.1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background: rgba(11, 52, 129, 0.781);
}

main #content-form p {
  position: relative;
  margin: 0 auto;
  width: 80%;
  color: white;
  text-align: center;
  font-family: Roboto "Century Gothic", sans-serif;
  font-weight: 100;
  font-weight: lighter;
  line-height: 1.5em;
}

main #content-form #title {
  text-align: center;
  font-weight: 100;
  font-family: Poppins, "Century Gothic", sans-serif;
  color: white;
}

main #content-form #survey-form {
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding: 0.5em;
  background: rgba(126, 124, 124, 0.76);
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

main #content-form #survey-form label {
  position: relative;
  margin: 0.125em auto;
  width: 90%;
  display: block;
  padding: 0.5em;
  padding-bottom: 0.2em;
  color: white;
  font-family: Roboto, "Century Gothic", sans-serif;
}

main #content-form #survey-form input {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 90%;
  border: 0;
  padding: 0.5em;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

main #content-form #survey-form #title-radio {
  position: relative;
  margin: 0.125em auto;
  width: 90%;
  display: block;
  padding: 0.5em;
  padding-bottom: 0.2em;
  color: white;
  font-family: Roboto, "Century Gothic", sans-serif;
  text-align: left;
}

main #footer {
  width: 100%;
  position: relative;
  height: auto;
  margin-top: 0.2em;
  background: rgba(54, 50, 32, 0.849);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #footer .footer-left {
  position: relative;
  margin: 0.5em;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 0.5em;
}

main #footer .footer-left p {
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 0.5em;
  border-right: 1px solid silver;
}

main #footer .footer-right {
  position: relative;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 50, 32, 0.849)), to(rgba(54, 50, 32, 0.493)));
  background: linear-gradient(180deg, rgba(54, 50, 32, 0.849), rgba(54, 50, 32, 0.493));
}

main #footer .footer-right p {
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 0.5em;
}

main #footer .footer-right p #ch-heart {
  font-size: 5vmin;
  color: #00ccff;
}

main #footer .footer-right p #icon-git {
  width: 20px;
  height: auto;
}

main #footer a:link {
  color: #f3f6f7;
}

main #footer a:visited {
  color: #f1f4f5;
}

main #footer a:hover {
  background: steelblue;
}

@media (min-width: 600px) {
  main #content-form {
    width: 70%;
  }
  main #content-form #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  main #content-form #footer .footer-left {
    border-bottom: 1px solid #5f4a10;
    margin: 0;
    margin-bottom: 1.5em;
  }
  main #content-form #footer .footer-left p {
    border-right: 0px;
  }
  main #content-form #footer .footer-right {
    margin: 0;
  }
}

@media (min-width: 800px) {
  main #content-form {
    width: 55%;
  }
  main #content-form #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  main #content-form #footer .footer-left {
    border-bottom: 1px solid #5f4a10;
    margin: 0;
    margin-bottom: 1.5em;
  }
  main #content-form #footer .footer-left p {
    border-right: 0px;
  }
  main #content-form #footer .footer-right {
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */